# -*- coding: utf-8, tab-width: 2 -*-
ghciu <- cli.sh
ghciu-ci-fail-log-summary <- bash_funcs/ci_fail_log_summary.sh
ghciu-ensure-file-has-final-newline <- bash_funcs/ensure_file_has_final_newline.sh
ghciu-fmt-markdown-textblock <- bash_funcs/fmt_markdown_textblock.sh
ghciu-format-json-for-shell-env <- bash_funcs/format_json_for_shell_env.sh
ghciu-safer-sudo-rm-rf <- bash_funcs/safer_sudo_rm_rf.sh
ghciu-unindent <- bash_funcs/unindent.sh
ghciu-value-mustbe <- bash_funcs/value_mustbe.sh
ghciu-vdo <- bash_funcs/vdo.sh
ghciu-watchdog-slow-child <- bash_funcs/watchdog_slow_child.sh
